* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, serif;
}

.logo {
    display: flex;
    position: relative;
    height: 80px;

}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    padding-top: 40px;
    background: #f0f2f5;
}

.container {
    background: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    align-items: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.login {
    font-size: 1.2rem;
    margin: 20px 0 10px 0;
}

input {
    width: 85%;
    height: 50px;
    border: 2px solid rgba(0,0,0,.1);
    border-radius: 5px;
    font-size: 15px;
    padding-left: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.5);
    outline-style: none;
}

button {
    width: 90%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background: #1877f2;
    color: white;
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
    font-size: 14px;
    margin: 10px;
    color: #1877f2;
}

a:hover {
    text-decoration: underline;
}

.new-account {
    width: 50%;
    background: #42b72a;
    font-size: 16px;
    margin: 10px 0 20px 0;
}

.login-btn:hover {
    background: #1366d1;
}

.new-account:hover {
    background: #3ba327;
}

.style {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.style::before {
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position:absolute;
    top: 50%;
    left: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}

.style::after {
    content: " ";
    display: block;
    height: 0.9px;
    width: 170px;
    position:absolute;
    top: 50%;
    right: 25px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* footer  */
.foot {
    display: flex;
    width: 100%;
    margin: 0%;
    background-color: white;
    margin-top: 60px;
    justify-content: center;
}

.foot-er {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 35px 10px 10px 0px;
    margin-left: 160px;
    margin-right: 150px;
}

.foot-em {
    padding: 0px 3px;
    font-size: 13px;
    margin-left: 1px;
    color: #385898;
}

.foot-em0 {
    border: 1px solid #ccd0d5;
    padding: 0px 8px;
    color: #626a79;
    border-radius: 2px;
    background-color: #f5f6f7;
    font-weight: bolder;
    margin-left: 5px;

}

.foot-er1 {
    border-top: 1px solid #dddfe2;
    margin-top: 8px;
    margin-right: 23px;
    padding-top: 8px;
    margin-bottom: 20px;
}

.foot-em1 {
    padding: 0px 4px;
    margin-right: 4px;
    font-size: 13px;
      color: #385898;
      position: relative;
      right: 10px;
}

.foot-em2 {
    padding: 0px 9px;
    margin-right: 4px;
    font-size: 13px;
     color: #385898;
     position: relative;
     right: 10px;
}

.cpright {
    color: #626a79;
    font-size: 11px;
    margin-left: 4px;
    margin-bottom: 15px;
}
@media (max-width:600px){
    body{
       display: flex;
       margin: 0px 0px 40px 170px;
       background-color: #F0F2F5;
    }
    .foot{
        display: inline;
        height: 200px;
        background-color: #FFFFFF;
        width: 100%;
    }

}
@media (max-width:768px){
    body{
       display: flex;
       margin: 0px 0px 40px 170px;
       background-color: #F0F2F5;
    }

}
@media (max-width:960px){
    body{
       display: flex;
       margin: 0px 0px 40px 170px;
       background-color: #F0F2F5;
    }

}